<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <title th:if="${pageTitle}" th:text="${pageTitle}"></title>
    <link th:href="@{/css/addcourse-style.css}" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="container">
    <nav class="menu">
        <ul class="menu__list">
            <h2>Noodle</h2>
            <img src="/images/spaghetti.png">
            <li class="menu__group"><a href="#" th:href="@{/admin/home}" class="menu__link">Начало</a></li>
            <li class="menu__group"><a href="#" th:href="@{/admin/logs}" class="menu__link">Логове</a></li>
            <li class="menu__group"><a href="#" th:href="@{/admin/courses}" class="menu__link">Курсове</a></li>
            <li class="menu__group"><a href="#" th:href="@{/admin/students}" class="menu__link">Студенти</a></li>
            <li class="menu__group"><a href="#" th:href="@{/admin/contacts}" class="menu__link">Контакти</a></li>
        </ul>
    </nav>

</div>


<div class="form-container">
    <div class="form-style-5">
        <form id="course-add" class="course-add" th:action="@{/admin/courses/add/confirm}" th:object="${course}" method="POST">
            <fieldset>
                <legend><span class="number">1</span> Добавяне на курс</legend>
                <label for="job">Име:</label>
                <input required type="text" name="field1" th:field="*{name}" >
                <label for="job">Код на курса:</label>
                <input required type="text" name="field2" th:field="*{code}">
                <label for="job">Информация за курса:</label>
                <textarea required form="course-add" th:field="*{description}"></textarea>
            </fieldset>
            <input type="submit" value="Добави"/>
        </form>
    </div>
</div>
</div>
</body>