<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <title th:if="${pageTitle}" th:text="${pageTitle}"></title>
    <link th:href="@{/css/students-style.css}" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="container">
    <nav class="menu">
        <ul class="menu__list">
            <h2>Noodle</h2>
            <img src="/images/spaghetti.png">
            <li class="menu__group"><a href="#" th:href="@{/admin/home}" class="menu__link">Начало</a></li>
            <li class="menu__group"><a href="#" th:href="@{/admin/courses}" class="menu__link">Курсове</a></li>
            <li class="menu__group"><a href="#" th:href="@{/admin/students}" class="menu__link">Студенти</a></li>
            <li class="menu__group"><a href="#" th:href="@{/admin/contacts}" class="menu__link">Контакти</a></li>
        </ul>
    </nav>



    <div id="cover">
        <form method="get" action="">
            <div class="tb">
                <div class="td"><input type="text" placeholder="ТЪРСЕНЕ" required></div>
                <div class="td" id="s-cover">
                    <button type="submit">
                        <div id="s-circle"></div>
                        <span></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="Header-Students">
    <h3>Добяване на нов курс:</h3>
</div>

<form action="" th:action="@{/admin/courses/add/confirm}" method="POST">
    <fieldset>
        <label for="courseName">Име:</label>
        <input type="text" id="courseName" name="courseName"><br><br>
        <label for="description">Описание:</label>
        <input type="text" id="description" name="description"><br><br>
        <label for="status">Статус</label>
        <input type="text" id="status" name="status"><br><br>
        <label for="code">Семестър</label>
        <input type="text" id="code" name="code"><br><br>
        <button id="AddCourse-Button">Запази курс</button>
    </fieldset>
</form>


</div>
</body>