<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <title th:if="${pageTitle}" th:text="${pageTitle}"></title>
    <link th:href="@{/css/addstudent-style.css}" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="container">
    <nav class="menu">
        <ul class="menu__list">
            <h2>Noodle</h2>
            <img src="/images/spaghetti.png">
            <li class="menu__group"><a href="#" th:href="@{/admin/home}" class="menu__link">Начало</a></li>
            <li class="menu__group"><a href="#" th:href="@{/admin/logs}" class="menu__link">Логове</a></li>
            <li class="menu__group"><a href="#" th:href="@{/admin/courses}" class="menu__link">Курсове</a></li>
            <li class="menu__group"><a href="#" th:href="@{/admin/students}" class="menu__link">Студенти</a></li>
            <li class="menu__group"><a href="#" th:href="@{/admin/contacts}" class="menu__link">Контакти</a></li>
        </ul>
    </nav>


</div>
<div class="form-container">
    <div class="form-style-5">
        <form action="" th:action="@{/admin/students/add/confirm}" th:object="${student}" method="POST">
            <fieldset>
                <legend><span class="number">1</span> Добавяне на студент</legend>
                <label for="job">Име:</label>
                <input required type="text" name="field1" th:field="*{name}" >
                <label for="job">Факултетен номер:</label>
                <input required type="text" name="field2" th:field="*{facnum}">
                <label for="job">Група:</label>
                <select id="job" name="field4" required th:field="*{group.num}">
                    <th:block th:each="group : ${groups}">
                        <option th:value="${group.num}">[[${group.num}]]</option>
                    </th:block>
                </select>
                <label for="job">Семестър:</label>
                <select id="job" name="field4" required th:field="*{semester}">
                    <th:block th:each="semester : ${semesters}">
                        <option th:value="${semester}">[[${semester}]]</option>
                    </th:block>
                </select>
            </fieldset>
            <input type="submit" value="Добави"/>
        </form>
    </div>
</div>
</div>
</body>