<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <title th:if="${pageTitle}" th:text="${pageTitle}"></title>
    <link th:href="@{/css/contact-style.css}" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="container">
    <nav class="menu">
        <ul class="menu__list">
            <h2>Noodle</h2>
            <img src="/images/spaghetti.png">
            <li class="menu__group"><a href="#" th:href="@{/admin/home}" class="menu__link">Начало</a></li>
            <li class="menu__group"><a href="#" th:href="@{/admin/logs}" class="menu__link">Логове</a></li>
            <li class="menu__group"><a href="#" th:href="@{/admin/courses}" class="menu__link">Курсове</a></li>
            <li class="menu__group"><a href="#" th:href="@{/admin/students}" class="menu__link">Студенти</a></li>
            <li class="menu__group"><a href="#" th:href="@{/admin/contacts}" class="menu__link">Контакти</a></li>
        </ul>
    </nav>

</div>
    <div class="contactsText">
        <h3>Работили по проекта:</h3>
        <h2>➼ Борислав Арангелов - фак. № 501217053</h2>
        <h2>➼ Борислава Борисова - фак. № 501217007</h2>
            <h2>➼ Ива Йонкова - фак. № 501217002</h2>
            <h2>➼ Костадин Крушков - фак. № 501217036</h2>
            <h2>➼ Преслава Димитрова - фак. № 501217001</h2>
    </div>


</body>