<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <title th:if="${pageTitle}" th:text="${pageTitle}"></title>
    <link th:href="@{/css/coursesfinal.css}" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="container">
    <nav class="menu">
        <ul class="menu__list">
            <h2>Noodle</h2>
            <img src="/images/spaghetti.png">
            <li class="menu__group"><a href="#" th:href="@{/admin/home}" class="menu__link">Начало</a></li>
            <li class="menu__group"><a href="#" th:href="@{/admin/courses}" class="menu__link">Курсове</a></li>
            <li class="menu__group"><a href="#" th:href="@{/admin/students}" class="menu__link">Студенти</a></li>
            <li class="menu__group"><a href="#" th:href="@{/admin/contacts}" class="menu__link">Контакти</a></li>
        </ul>
    </nav>



    <div id="cover">
        <form method="get" action="">
            <div class="tb">
                <div class="td"><input type="text" placeholder="ТЪРСЕНЕ" required></div>
                <div class="td" id="s-cover">
                    <button class="searchButton" type="submit">
                        <div id="s-circle"></div>
                        <span></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="Header-Courses">
    <p><form action="" th:action="@{/admin/courses/add}" method="GET"><button class="addCourseButton" id="AddCourse">Добавяне на нов курс</button></form></p>
</div>


<div class="courses" xmlns:th="http://www.w3.org/1999/xhtml">
    <ul class="products-column">
        <th:block th:each="course : ${courses}">
            <li>
                <h3>[[${course.name}]]</h3>
                <h4>Статус: [[${course.status}]]</h4>
                <h4>Описание: [[${course.description}]]</h4>
                <form action="" th:action="@{/admin/course/setactive/{id}(id=${course.id})}" method="POST"><button class="buttonEnable">Покажи</button></form>
                <form action="" th:action="@{/admin/course/setinactive/{id}(id=${course.id})}" method="POST"><button class="buttonDisable">Скрий</button></form>
                <div class="editContainer"><form action="" th:action="@{/admin/courses/edit/{id}(id=${course.id})}" method="GET"><button class="buttonEdit">Редактирай</button></form></div>
            </li>
        </th:block>
    </ul>
</div>



</div>
</body>