
<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
	<title th:if="${pageTitle}" th:text="${pageTitle}"></title>
	<link th:href="@{/css/landing-style.css}" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="container">
	<nav class="menu">
		<ul class="menu__list">
			<h2>Noodle</h2>
			<img src="/images/spaghetti.png">
			<li class="menu__group"><a href="index.html" class="menu__link">Начало</a></li>
			<li class="menu__group"><a href="courses.html" class="menu__link">Курсове</a></li>
			<li class="menu__group"><a href="students.html" class="menu__link">Студенти</a></li>
			<li class="menu__group"><a href="contacts.html" class="menu__link">Контакти</a></li>
		</ul>
	</nav>



	<div id="cover">
		<form method="get" action="">
			<div class="tb">
				<div class="td"><input type="text" placeholder="ТЪРСЕНЕ" required></div>
				<div class="td" id="s-cover">
					<button type="submit">
						<div id="s-circle"></div>
						<span></span>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="Header-Courses">
	<h3>Курсове:</h3>
</div>
<div class="products" xmlns:th="http://www.w3.org/1999/xhtml">
	<ul class="products-column">
		<th:block th:each="course : ${courses}">
			<li>
				<td><h3>[[${course.name}]]</h3></td>
			</li>
		</th:block>
	</ul>
</div>
</div>
</body>