<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <title th:if="${pageTitle}" th:text="${pageTitle}"></title>
    <link th:href="@{/css/student-style.css}" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="container">
    <nav class="menu">
        <ul class="menu__list">
            <h2>Noodle</h2>
            <img src="/images/spaghetti.png">
            <li class="menu__group"><a href="#" th:href="@{/admin/home}" class="menu__link">Начало</a></li>
            <li class="menu__group"><a href="#" th:href="@{/admin/courses}" class="menu__link">Курсове</a></li>
            <li class="menu__group"><a href="#" th:href="@{/admin/students}" class="menu__link">Студенти</a></li>
            <li class="menu__group"><a href="#" th:href="@{/admin/contacts}" class="menu__link">Контакти</a></li>
        </ul>
    </nav>



    <div id="cover">
        <form method="get" action="">
            <div class="tb">
                <div class="td"><input type="text" placeholder="ТЪРСЕНЕ" required></div>
                <div class="td" id="s-cover">
                    <button type="submit">
                        <div id="s-circle"></div>
                        <span></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>



<div class="Header-Students">
    <h3>Студенти:</h3>
</div>



<table class="Student-Table">
    <thead>
    <tr>
        <th> Име на студента </th>
        <th> Факултетен номер </th>
        <th> Група </th>
        <th> Семестър </th>
        <th> Обновяване</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${students.empty}">
        <td colspan="2"> Няма запис на студенти </td>
    </tr>
    <tr th:each="student : ${students}">
        <td><span th:text="${student.name}"></span></td>
        <td><span th:text="${student.facnum}"></span></td>
        <td><span th:text="${student.group.num}"></span></td>
        <td><span th:text="${student.semester}"></span></td>
        <td><p><form action="" th:action="@{/admin/students/edit/{id}(id=${student.id})}" method="GET"><button id="Edit-Button">Редактиране</button></form></p></td>
    </tr>
    </tbody>
</table>

</div>
</body>